Cas-Finder_macsyfinder/
athena/genomedata/
apps/
data/
genus_filepaths/
testing/
.ipynb_checkpoints/*
*.pyc
#tex files
*.run.xml
*.bcf
*.blg
*.bbl
*.aux
*.dvi
*.fls
*.log
*.fdb_latexmk
#data files
*.gbff
*.faa
*.fna
cpHiDe/
hide_program/
hide_source/
