athena/genomedata/
apps/
data/
depreciated/
inference_programs/
scripts/.ipynb_checkpoints/
notebooks/.Rhistory
.ipynb_checkpoints/
.Rhistory
*.pyc
#tex files
*.run.xml
*.bcf
*.blg
*.bbl
*.aux
*.dvi
*.fls
*.log
*.fdb_latexmk
#data files
*.gbff
*.faa
*.fna
